@charset "UTF-8";
/* CSS Document */

/** { padding: 0; margin: 0; }*/

/*
 * Tipography
 */

p {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 9pt;
	color: #000;
	margin: 0em 0em 0.5em;
	padding: 0;
}
p strong {
	color: inherit;
	font-weight: 400;
}
p em strong {
	font-weight: 700;
}
h1, h2, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #000;
	margin: 0.5em 0em 0em;
	padding: 0;
}
h1 {
	font-size: 20pt;
}
h2 {
  font-size: 16pt;
}
h6 {
  font-size: 1.22em;
}
.navbar-rebenque h6, .footer-rebenque h6 {
	margin: 0;
	color: #AAA;
}
.footer-rebenque h6 {
	font-size: 0.85em;
}

/*
 * Styles for navigation
 * LoVE? Ha!
 */

a, a:link, a:hover, a:visited {
  color: inherit;
	text-decoration: none;
}
p a {
	font-weight: 400;
/*	text-emphasis-style: dot;
	text-emphasis-position: under right; // or `under left`
	-webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: under; // this works but shouldn't 	
*/
}
p a:hover {
	font-weight: 700;
}
h1 a:hover, h2 a:hover, h6 a:hover {
	font-weight: 400;
}
.navbar-rebenque h6 a:hover, .footer-rebenque h6 a:hover {
	color: #000;
	font-weight: 500;
}

/*
 * Spacing
 */

hr {
  margin: 10px 0 10px;
  padding: 0;
}
.space-top-bottom {
	padding: 15px 0 15px;
}
.double-space-top-bottom {
	padding: 10px 0 10px;
}
.footer-rebenque {
	margin-bottom: 20px;
}


/*
 * XS lay-out
 */
.navbar-rebenque [class*="col-"] {
	padding:0;
}
.navbar-rebenque {
	padding: 15px 0 15px;
	position: fixed;
	min-height: 50px;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: #FFF;
	opacity: 0.9;
	height: 70px;
}
.navbar-rebenque img {
	width: 40px;
}
.no-fixed-content {
	padding-top: 70px;
}

/*
 * Icons
 */
.azm-social i {
	color: #BBB;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	/*-o-transition: opacity .2s ease-in-out; -moz-transition: opacity .2s ease-in-out; -webkit-transition: opacity .2s ease-in-out; -ms-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out;*/
}
/*.azm-social:hover, .azm-social:focus, .azm-social:active { text-decoration:none;opacity: 0.8; color: black; }*/
.azm-social:hover i {
	text-decoration:none;
	color: #000;
}
.fa {
	font-size: 1.0em;
}

@media (min-width: 768px) {
	.navbar-rebenque {
		padding: 25px 0 25px;
		height: 130px;
	}
	.navbar-rebenque img {
		width: 80px;
	}
	.no-fixed-content {
		padding-top: 130px;
	}
	.double-space-top-bottom {
		padding: 40px 0 40px;
	}
	p {
		font-size: 10pt;
	}	
	h1 {
		font-size: 22pt;
	}
	h2 {
  	font-size: 17pt;
	}
	.lead {
		font-size: 17pt;
	}
	h6 {
  	font-size: 1.22em;
	}
	.footer-rebenque h6 {
		font-size: 0.95em;
	}	
}
@media (max-device-width: 480px) and (orientation: landscape) {
	.navbar-rebenque {
		padding: 8px 0 8px;
  	height: 50px;
	}	
	.navbar-rebenque img {
		width: 34px;
	}
	.no-fixed-content {
		padding-top: 50px;
	}
	p {
		font-size: 8pt;
	}
	.double-space-top-bottom {
		padding: 10px 0 10px;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar-rebenque {
		padding: 30px 0 30px;
  	height: 150px;
	}	
	.navbar-rebenque img {
		width: 90px;
	}
	.no-fixed-content {
		padding-top: 150px;
	}
	.space-top-bottom {
		padding: 30px 0 30px;
	}
	.double-space-top-bottom {
		padding: 50px 0 50px;
	}
	p {
		font-size: 11pt;
	}	
	h1 {
		font-size: 22pt;
	}
	h2 {
  	font-size: 18pt;
	}
	.lead {
		font-size: 18pt;
	}
	h6 {
  	font-size: 1.33em;
	}
	.footer-rebenque h6 {
		font-size: 1em;
	}
	.fa {
		font-size: 1.2em;
	}	
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.navbar-rebenque {
		padding: 35px 0 35px;
  	height: 170px;
	}	
	.navbar-rebenque img {
		width: 100px;
	}
	.no-fixed-content {
		padding-top: 170px;
	}
	.space-top-bottom {
		padding: 30px 0 30px;
	}
	.double-space-top-bottom {
		padding: 60px 0 60px;
	}	
	p {
		font-size: 12pt;
	}	
	h1 {
		font-size: 23pt;
	}
	h2 {
  	font-size: 19pt;
	}
	.lead {
		font-size: 19pt;
	}
	h6 {
  	font-size: 1.33em;
	}
	.footer-rebenque h6 {
		font-size: 1em;
	}
	.fa {
		font-size: 1.2em;
	}	
}

/*
 * Lay-out of photography content
 */


.row .picture-left {
	padding-right: 7.5px;
	padding-left: 0;
}

.row .picture-right {
  padding-left: 7.5px;
	padding-right: 0;
}
.row .picture {
	padding: 0;
	margin-bottom: 15px;
}


/*.picture img {
	opacity: 1;
	//width: 100%;
	transition: opacity .20s ease-in-out;
	-moz-transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
}
.picture:hover img {
   opacity: 0.2;
}*/

/*.space-bottom {
	margin-bottom: 15px;
}
.space-top {
	margin-top: 30px;
}

#last-row {
  margin-bottom: 60px;
}

.row .picture-left {
  //padding-right: 0.75%;
	padding-right: 7.5px;
	padding-left: 0;
}

.row .picture-right {
  //padding-left: 0.75%;
  padding-left: 7.5px;
  padding-right: 0;
}

.picture img {
	opacity: 1;
	width: 100%;
	transition: opacity .20s ease-in-out;
	-moz-transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
}
.content:hover img {
   opacity: 0.2;
}

.content .caption, .content .caption_about {
	position: absolute;
	top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width: 80%;
  height: 50%;
	//background: yellow;
	opacity: 0;
	//color: #fff;
	//background-color: rgba(0,0,0,0.8);
  transition: opacity .20s ease-in-out;
  -moz-transition: opacity .20s ease-in-out;
  -webkit-transition: opacity .20s ease-in-out;
}

.content:hover .fade-caption {
  opacity: 1;
}

.content .caption h2 {
	//margin-bottom: 0.8em;
	position: absolute;
  //top: 0;
  bottom: 60%;
  left:0;
  right:0;
  margin: auto;
  width: 100%;
  //height: 35%;
	text-align: center;
	//background-color: blue;
}
.content .caption p {
	font-size: 80%;
	position: absolute;
  //top: 0;
  bottom: 30%;
  left:0;
  right:0;
  margin: auto;
  width: 100%;
  height: 25%;
	text-align: center;
	//background-color: green;
}
.content .caption_about p {
	font-size: 80%;
	position: absolute;
  top: 35%;
  //bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width: 100%;
  height: 12.5%;
	text-align: center;
	//background-color: brown;
}
.trick {
	position: relative;
}
*/

/*
 * Embedding video
 */

/*.vid {
    position: relative;
    padding-bottom: 56.25%;
    display: block;
		//padding: 0;
		height: 0;
		overflow: hidden;		
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		border: 0;
}*/

/*
 * Row with equal height columns
 */
 
/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/

/*
 * Styles for debugging
 */
 
/*[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}*/




/* Reset */
/*
.clear { clear: both; background: none; }
.clearboth { clear: both; }*/