@charset "UTF-8";
/* CSS Document */

* { padding: 0; margin: 0; }

/*
 * Tipography
 */

p {
	font-family: 'Martel', serif;
	font-weight: 200;
	font-size: 9pt;
	color: #000;
	padding: 0em 0em 1em;
}
p strong {
	color: inherit;
	font-weight:600;
}
h1 {
	font-size: 18pt;
  font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #000;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-weight:200;
  font-size: 18pt;
	color: #000;
}

/*
 * Styles for navigation
 * LoVE? Ha!
 */

p a {
  color: inherit;
	font-weight:400;
	text-decoration: none;
}
p a:hover {
	color: inherit;
	font-weight:700;
	text-decoration: none;
}
p a:visited {
	color: inherit;
	text-decoration: none;
}

h1 a, h2 a {
  text-decoration: none;
	color: inherit;
}
h1 a:hover, h2 a:hover {
  text-decoration: none;
	font-weight: 300;
	color: inherit;
}
h1 a:visited,h2 a:visited {
	color: inherit;
	text-decoration: none;
}

/*
 * XS lay-out
 */

.bb_nav_fixed_top {
	position: fixed;
  z-index: 1;
	background-color: #FFF;
}

div.visible-xs-block {
	/* Equal to padding-top of .no-xs-viewport */
	padding-bottom: 90px;
}

div.bb_nav_fixed_top h1 {
	/* Trick to center vertically a line of text.
	   At 60px it ends exactly where the content starts */
	line-height: 60px;
}

/*
 * Padding row on viewports different to xs
 */
 
@media (min-width: 768px) {
	.no-xs-viewport {
  	padding-top: 90px;
	}
}

/*
 * Lay-out of sidebar
 */

.sidebar {
	position: fixed;
}
.navigation {
	list-style: none outside none;
}
.sidebar > ul {
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50%;
	max-width: 70px;
}

/*
 * Lay-out of content
 */

.space-bottom {
	margin-bottom: 30px;
}

#last-row {
  margin-bottom: 60px;
}

.row .picture-left {
  //padding-right: 0.75%;
	padding-right: 7.5px;
	padding-left: 0;
}

.row .picture-right {
  //padding-left: 0.75%;
  padding-left: 7.5px;
  padding-right: 0;
}

.content {
	margin-bottom: 15px;
}
.content > .picture-left, .content > .picture-right {
	margin-bottom: 15px;
}


.content .caption {
	position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width: 50%;
  height: 35%;
	//background: yellow;
	opacity: 0;
	//color: #fff;
	//background-color: rgba(0,0,0,0.8);
   transition: opacity .20s ease-in-out;
   -moz-transition: opacity .20s ease-in-out;
   -webkit-transition: opacity .20s ease-in-out;
}

.content:hover .fade-caption {
  opacity: 1;
}

.content .caption p {
	font-size: 80%;
	position: absolute;
  //top: 0;
  bottom: 20%;
  left:0;
  right:0;
  margin: auto;
  width: 100%;
  height: 25%;
	text-align: center;
}
.content .caption h2 {
	//margin-bottom: 0.8em;
	position: absolute;
  //top: 0;
  bottom: 60%;
  left:0;
  right:0;
  margin: auto;
  width: 100%;
  //height: 35%;
	text-align: center;
}

.content img {
   opacity: 1;
	 width: 100%;
   transition: opacity .20s ease-in-out;
   -moz-transition: opacity .20s ease-in-out;
   -webkit-transition: opacity .20s ease-in-out;
}
.content:hover img {
   opacity: 0.2;
}

/*
 * Embedding video
 */

/*.vid {
    position: relative;
    padding-bottom: 56.25%;
    display: block;
		//padding: 0;
		height: 0;
		overflow: hidden;		
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		border: 0;
}*/

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*
 * Styles for debugging
 */
 
/*[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
}*/

/*
 * Callout styles copied from Bootstrap's main docs.
 */
/* Common styles for all types */
/*.bs-callout code {
  background-color: #fff;
}*/
/* Variations */
/*.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
}
.bs-callout-info h4 {
  color: #5bc0de;
}*/







/******************************************************/
/********************* Icons **************************/

.azm-social {
	padding: 0 5% 0 5%;
	color: black;
	opacity: 0.2;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	/*-o-transition: opacity .2s ease-in-out; -moz-transition: opacity .2s ease-in-out; -webkit-transition: opacity .2s ease-in-out; -ms-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out;*/
}
/*.azm-social:hover, .azm-social:focus, .azm-social:active { text-decoration:none;opacity: 0.8; color: black; }*/
.azm-social:hover { text-decoration:none;opacity: 0.8; color: black; }


* Reset */

.clear { clear: both; background: none; }
.clearboth { clear: both; }