@font-face {
	font-family: 'Avenir';
	src: url('Avenir-BookOblique.eot');
	src: url('Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-BookOblique.woff') format('woff'),
		url('Avenir-BookOblique.ttf') format('truetype'),
		url('Avenir-BookOblique.svg#Avenir-BookOblique') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-Medium.eot');
	src: url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Medium.woff') format('woff'),
		url('Avenir-Medium.ttf') format('truetype'),
		url('Avenir-Medium.svg#Avenir-Medium') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-Book.eot');
	src: url('fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/Avenir-Book.woff') format('woff'),
		url('fonts/Avenir-Book.ttf') format('truetype'),
		url('fonts/Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-MediumOblique.eot');
	src: url('Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-MediumOblique.woff') format('woff'),
		url('Avenir-MediumOblique.ttf') format('truetype'),
		url('Avenir-MediumOblique.svg#Avenir-MediumOblique') format('svg');
	font-weight: 700;
	font-style: italic;
}

/***************/

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Regular.eot');
	src: url('AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Regular.woff') format('woff'),
		url('AvenirNext-Regular.ttf') format('truetype'),
		url('AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-MediumItalic.eot');
	src: url('AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-MediumItalic.woff') format('woff'),
		url('AvenirNext-MediumItalic.ttf') format('truetype'),
		url('AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Medium.eot');
	src: url('AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Medium.woff') format('woff'),
		url('AvenirNext-Medium.ttf') format('truetype'),
		url('AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Italic.eot');
	src: url('AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Italic.woff') format('woff'),
		url('AvenirNext-Italic.ttf') format('truetype'),
		url('AvenirNext-Italic.svg#AvenirNext-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
