/* SCSS Document */
/*
 * Vendor prefixes
 */
/*
 * Globals
 */
/* ---- Debug --- */
/* ---- Colors ---- */
/* ---- Grid ---- */
/* ---- Cross lengths (and aspect ratios) ---- */
/* ---- Media queries breakpoints ---- */
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*
 * Grid
 */
/* ---- Fixed vars (particularization)---- */
/* ---- Cooking ---- */
/* ---- Functions --- */
/* ---- Mixin --- */
/* ---- Dimensioning ---- */
/* ---- Container --- */
/* The rbq-container is not nestable */
.rbq-container {
  padding: 0;
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* Safari 6.1+ */
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

/* ---- Array --- */
.rbq-array {
  padding: 0.25%;
  border: 0px solid black;
  margin: 0.25%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* Safari 6.1+ */
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  -webkit-box-flex: 0 0 99.5%;
  -moz-box-flex: 0 0 99.5%;
  -webkit-flex: 0 0 99.5%;
  -ms-flex: 0 0 99.5%;
  flex: 0 0 99.5%;
}
.rbq-array .rbq-array {
  height: auto !important;
}

/* ---- Cell --- */
.rbq-cell-xs, .rbq-dar-cell-xs {
  -webkit-box-flex: 1 0 0%;
  -moz-box-flex: 1 0 0%;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}
.rbq-cell-xs .rbq-dar-cell-xs, .rbq-dar-cell-xs .rbq-dar-cell-xs {
  height: auto !important;
}

.rbq-dar-cell-xs {
  height: 7.33333vw !important;
}

.rbq-cell-xs-1, .rbq-dar-cell-xs-1 {
  -webkit-box-flex: 0 0 7.33333%;
  -moz-box-flex: 0 0 7.33333%;
  -webkit-flex: 0 0 7.33333%;
  -ms-flex: 0 0 7.33333%;
  flex: 0 0 7.33333%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-1 {
  height: 7.33333vw !important;
}

.rbq-offset-xs-1 {
  margin-left: 8.83333% !important;
}

.rbq-fixed-xs-1 {
  position: fixed;
  width: 7.33333%;
}

.rbq-cell-xs-2, .rbq-dar-cell-xs-2 {
  -webkit-box-flex: 0 0 15.66667%;
  -moz-box-flex: 0 0 15.66667%;
  -webkit-flex: 0 0 15.66667%;
  -ms-flex: 0 0 15.66667%;
  flex: 0 0 15.66667%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-2 {
  height: 15.66667vw !important;
}

.rbq-offset-xs-2 {
  margin-left: 17.16667% !important;
}

.rbq-fixed-xs-2 {
  position: fixed;
  width: 15.66667%;
}

.rbq-cell-xs-3, .rbq-dar-cell-xs-3 {
  -webkit-box-flex: 0 0 24%;
  -moz-box-flex: 0 0 24%;
  -webkit-flex: 0 0 24%;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-3 {
  height: 24vw !important;
}

.rbq-offset-xs-3 {
  margin-left: 25.5% !important;
}

.rbq-fixed-xs-3 {
  position: fixed;
  width: 24%;
}

.rbq-cell-xs-4, .rbq-dar-cell-xs-4 {
  -webkit-box-flex: 0 0 32.33333%;
  -moz-box-flex: 0 0 32.33333%;
  -webkit-flex: 0 0 32.33333%;
  -ms-flex: 0 0 32.33333%;
  flex: 0 0 32.33333%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-4 {
  height: 32.33333vw !important;
}

.rbq-offset-xs-4 {
  margin-left: 33.83333% !important;
}

.rbq-fixed-xs-4 {
  position: fixed;
  width: 32.33333%;
}

.rbq-cell-xs-5, .rbq-dar-cell-xs-5 {
  -webkit-box-flex: 0 0 40.66667%;
  -moz-box-flex: 0 0 40.66667%;
  -webkit-flex: 0 0 40.66667%;
  -ms-flex: 0 0 40.66667%;
  flex: 0 0 40.66667%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-5 {
  height: 40.66667vw !important;
}

.rbq-offset-xs-5 {
  margin-left: 42.16667% !important;
}

.rbq-fixed-xs-5 {
  position: fixed;
  width: 40.66667%;
}

.rbq-cell-xs-6, .rbq-dar-cell-xs-6 {
  -webkit-box-flex: 0 0 49%;
  -moz-box-flex: 0 0 49%;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-6 {
  height: 49vw !important;
}

.rbq-offset-xs-6 {
  margin-left: 50.5% !important;
}

.rbq-fixed-xs-6 {
  position: fixed;
  width: 49%;
}

.rbq-cell-xs-7, .rbq-dar-cell-xs-7 {
  -webkit-box-flex: 0 0 57.33333%;
  -moz-box-flex: 0 0 57.33333%;
  -webkit-flex: 0 0 57.33333%;
  -ms-flex: 0 0 57.33333%;
  flex: 0 0 57.33333%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-7 {
  height: 57.33333vw !important;
}

.rbq-offset-xs-7 {
  margin-left: 58.83333% !important;
}

.rbq-fixed-xs-7 {
  position: fixed;
  width: 57.33333%;
}

.rbq-cell-xs-8, .rbq-dar-cell-xs-8 {
  -webkit-box-flex: 0 0 65.66667%;
  -moz-box-flex: 0 0 65.66667%;
  -webkit-flex: 0 0 65.66667%;
  -ms-flex: 0 0 65.66667%;
  flex: 0 0 65.66667%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-8 {
  height: 65.66667vw !important;
}

.rbq-offset-xs-8 {
  margin-left: 67.16667% !important;
}

.rbq-fixed-xs-8 {
  position: fixed;
  width: 65.66667%;
}

.rbq-cell-xs-9, .rbq-dar-cell-xs-9 {
  -webkit-box-flex: 0 0 74%;
  -moz-box-flex: 0 0 74%;
  -webkit-flex: 0 0 74%;
  -ms-flex: 0 0 74%;
  flex: 0 0 74%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-9 {
  height: 74vw !important;
}

.rbq-offset-xs-9 {
  margin-left: 75.5% !important;
}

.rbq-fixed-xs-9 {
  position: fixed;
  width: 74%;
}

.rbq-cell-xs-10, .rbq-dar-cell-xs-10 {
  -webkit-box-flex: 0 0 82.33333%;
  -moz-box-flex: 0 0 82.33333%;
  -webkit-flex: 0 0 82.33333%;
  -ms-flex: 0 0 82.33333%;
  flex: 0 0 82.33333%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-10 {
  height: 82.33333vw !important;
}

.rbq-offset-xs-10 {
  margin-left: 83.83333% !important;
}

.rbq-fixed-xs-10 {
  position: fixed;
  width: 82.33333%;
}

.rbq-cell-xs-11, .rbq-dar-cell-xs-11 {
  -webkit-box-flex: 0 0 90.66667%;
  -moz-box-flex: 0 0 90.66667%;
  -webkit-flex: 0 0 90.66667%;
  -ms-flex: 0 0 90.66667%;
  flex: 0 0 90.66667%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-11 {
  height: 90.66667vw !important;
}

.rbq-offset-xs-11 {
  margin-left: 92.16667% !important;
}

.rbq-fixed-xs-11 {
  position: fixed;
  width: 90.66667%;
}

.rbq-cell-xs-12, .rbq-dar-cell-xs-12 {
  -webkit-box-flex: 0 0 99%;
  -moz-box-flex: 0 0 99%;
  -webkit-flex: 0 0 99%;
  -ms-flex: 0 0 99%;
  flex: 0 0 99%;
  border: 0px solid black;
  padding: 0.75%;
  margin: 0.25% 0.5%;
  overflow: auto;
}

.rbq-dar-cell-xs-12 {
  height: 99vw !important;
}

.rbq-offset-xs-12 {
  margin-left: 100.5% !important;
}

.rbq-fixed-xs-12 {
  position: fixed;
  width: 99%;
}

/* ---- Allignment --- */
.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.cell-top-xs {
  align-self: flex-start;
}

.cell-middle-xs {
  align-self: center;
}

.cell-bottom-xs {
  align-self: flex-end;
}

/* ---- Distribution --- */
.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

/* ---- Order --- */
.first-xs {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

/**************************/
/* Loop for media queries */
/**************************/
/* ---- Cell --- */
@media (min-width: 768px) {
  .rbq-cell-sm, .rbq-dar-cell-sm {
    -webkit-box-flex: 1 0 0%;
    -moz-box-flex: 1 0 0%;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }
  .rbq-cell-sm .rbq-dar-cell-sm, .rbq-dar-cell-sm .rbq-dar-cell-sm {
    height: auto !important;
  }

  .rbq-dar-cell-sm {
    height: 7.33333vw !important;
  }

  .rbq-cell-sm-1, .rbq-dar-cell-sm-1 {
    -webkit-box-flex: 0 0 7.33333%;
    -moz-box-flex: 0 0 7.33333%;
    -webkit-flex: 0 0 7.33333%;
    -ms-flex: 0 0 7.33333%;
    flex: 0 0 7.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-1 {
    height: 7.33333vw !important;
  }

  .rbq-offset-sm-1 {
    margin-left: 8.83333% !important;
  }

  .rbq-fixed-sm-1 {
    position: fixed;
    width: 7.33333%;
  }

  .rbq-cell-sm-2, .rbq-dar-cell-sm-2 {
    -webkit-box-flex: 0 0 15.66667%;
    -moz-box-flex: 0 0 15.66667%;
    -webkit-flex: 0 0 15.66667%;
    -ms-flex: 0 0 15.66667%;
    flex: 0 0 15.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-2 {
    height: 15.66667vw !important;
  }

  .rbq-offset-sm-2 {
    margin-left: 17.16667% !important;
  }

  .rbq-fixed-sm-2 {
    position: fixed;
    width: 15.66667%;
  }

  .rbq-cell-sm-3, .rbq-dar-cell-sm-3 {
    -webkit-box-flex: 0 0 24%;
    -moz-box-flex: 0 0 24%;
    -webkit-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-3 {
    height: 24vw !important;
  }

  .rbq-offset-sm-3 {
    margin-left: 25.5% !important;
  }

  .rbq-fixed-sm-3 {
    position: fixed;
    width: 24%;
  }

  .rbq-cell-sm-4, .rbq-dar-cell-sm-4 {
    -webkit-box-flex: 0 0 32.33333%;
    -moz-box-flex: 0 0 32.33333%;
    -webkit-flex: 0 0 32.33333%;
    -ms-flex: 0 0 32.33333%;
    flex: 0 0 32.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-4 {
    height: 32.33333vw !important;
  }

  .rbq-offset-sm-4 {
    margin-left: 33.83333% !important;
  }

  .rbq-fixed-sm-4 {
    position: fixed;
    width: 32.33333%;
  }

  .rbq-cell-sm-5, .rbq-dar-cell-sm-5 {
    -webkit-box-flex: 0 0 40.66667%;
    -moz-box-flex: 0 0 40.66667%;
    -webkit-flex: 0 0 40.66667%;
    -ms-flex: 0 0 40.66667%;
    flex: 0 0 40.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-5 {
    height: 40.66667vw !important;
  }

  .rbq-offset-sm-5 {
    margin-left: 42.16667% !important;
  }

  .rbq-fixed-sm-5 {
    position: fixed;
    width: 40.66667%;
  }

  .rbq-cell-sm-6, .rbq-dar-cell-sm-6 {
    -webkit-box-flex: 0 0 49%;
    -moz-box-flex: 0 0 49%;
    -webkit-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-6 {
    height: 49vw !important;
  }

  .rbq-offset-sm-6 {
    margin-left: 50.5% !important;
  }

  .rbq-fixed-sm-6 {
    position: fixed;
    width: 49%;
  }

  .rbq-cell-sm-7, .rbq-dar-cell-sm-7 {
    -webkit-box-flex: 0 0 57.33333%;
    -moz-box-flex: 0 0 57.33333%;
    -webkit-flex: 0 0 57.33333%;
    -ms-flex: 0 0 57.33333%;
    flex: 0 0 57.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-7 {
    height: 57.33333vw !important;
  }

  .rbq-offset-sm-7 {
    margin-left: 58.83333% !important;
  }

  .rbq-fixed-sm-7 {
    position: fixed;
    width: 57.33333%;
  }

  .rbq-cell-sm-8, .rbq-dar-cell-sm-8 {
    -webkit-box-flex: 0 0 65.66667%;
    -moz-box-flex: 0 0 65.66667%;
    -webkit-flex: 0 0 65.66667%;
    -ms-flex: 0 0 65.66667%;
    flex: 0 0 65.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-8 {
    height: 65.66667vw !important;
  }

  .rbq-offset-sm-8 {
    margin-left: 67.16667% !important;
  }

  .rbq-fixed-sm-8 {
    position: fixed;
    width: 65.66667%;
  }

  .rbq-cell-sm-9, .rbq-dar-cell-sm-9 {
    -webkit-box-flex: 0 0 74%;
    -moz-box-flex: 0 0 74%;
    -webkit-flex: 0 0 74%;
    -ms-flex: 0 0 74%;
    flex: 0 0 74%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-9 {
    height: 74vw !important;
  }

  .rbq-offset-sm-9 {
    margin-left: 75.5% !important;
  }

  .rbq-fixed-sm-9 {
    position: fixed;
    width: 74%;
  }

  .rbq-cell-sm-10, .rbq-dar-cell-sm-10 {
    -webkit-box-flex: 0 0 82.33333%;
    -moz-box-flex: 0 0 82.33333%;
    -webkit-flex: 0 0 82.33333%;
    -ms-flex: 0 0 82.33333%;
    flex: 0 0 82.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-10 {
    height: 82.33333vw !important;
  }

  .rbq-offset-sm-10 {
    margin-left: 83.83333% !important;
  }

  .rbq-fixed-sm-10 {
    position: fixed;
    width: 82.33333%;
  }

  .rbq-cell-sm-11, .rbq-dar-cell-sm-11 {
    -webkit-box-flex: 0 0 90.66667%;
    -moz-box-flex: 0 0 90.66667%;
    -webkit-flex: 0 0 90.66667%;
    -ms-flex: 0 0 90.66667%;
    flex: 0 0 90.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-11 {
    height: 90.66667vw !important;
  }

  .rbq-offset-sm-11 {
    margin-left: 92.16667% !important;
  }

  .rbq-fixed-sm-11 {
    position: fixed;
    width: 90.66667%;
  }

  .rbq-cell-sm-12, .rbq-dar-cell-sm-12 {
    -webkit-box-flex: 0 0 99%;
    -moz-box-flex: 0 0 99%;
    -webkit-flex: 0 0 99%;
    -ms-flex: 0 0 99%;
    flex: 0 0 99%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-sm-12 {
    height: 99vw !important;
  }

  .rbq-offset-sm-12 {
    margin-left: 100.5% !important;
  }

  .rbq-fixed-sm-12 {
    position: fixed;
    width: 99%;
  }

  /* ---- Allignment --- */
  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .cell-top-sm {
    align-self: flex-start;
  }

  .cell-middle-sm {
    align-self: center;
  }

  .cell-bottom-sm {
    align-self: flex-end;
  }

  /* ---- Distribution --- */
  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  /* ---- Order --- */
  .first-sm {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
/* ---- Cell --- */
@media (min-width: 992px) {
  .rbq-cell-md, .rbq-dar-cell-md {
    -webkit-box-flex: 1 0 0%;
    -moz-box-flex: 1 0 0%;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }
  .rbq-cell-md .rbq-dar-cell-md, .rbq-dar-cell-md .rbq-dar-cell-md {
    height: auto !important;
  }

  .rbq-dar-cell-md {
    height: 7.33333vw !important;
  }

  .rbq-cell-md-1, .rbq-dar-cell-md-1 {
    -webkit-box-flex: 0 0 7.33333%;
    -moz-box-flex: 0 0 7.33333%;
    -webkit-flex: 0 0 7.33333%;
    -ms-flex: 0 0 7.33333%;
    flex: 0 0 7.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-1 {
    height: 7.33333vw !important;
  }

  .rbq-offset-md-1 {
    margin-left: 8.83333% !important;
  }

  .rbq-fixed-md-1 {
    position: fixed;
    width: 7.33333%;
  }

  .rbq-cell-md-2, .rbq-dar-cell-md-2 {
    -webkit-box-flex: 0 0 15.66667%;
    -moz-box-flex: 0 0 15.66667%;
    -webkit-flex: 0 0 15.66667%;
    -ms-flex: 0 0 15.66667%;
    flex: 0 0 15.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-2 {
    height: 15.66667vw !important;
  }

  .rbq-offset-md-2 {
    margin-left: 17.16667% !important;
  }

  .rbq-fixed-md-2 {
    position: fixed;
    width: 15.66667%;
  }

  .rbq-cell-md-3, .rbq-dar-cell-md-3 {
    -webkit-box-flex: 0 0 24%;
    -moz-box-flex: 0 0 24%;
    -webkit-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-3 {
    height: 24vw !important;
  }

  .rbq-offset-md-3 {
    margin-left: 25.5% !important;
  }

  .rbq-fixed-md-3 {
    position: fixed;
    width: 24%;
  }

  .rbq-cell-md-4, .rbq-dar-cell-md-4 {
    -webkit-box-flex: 0 0 32.33333%;
    -moz-box-flex: 0 0 32.33333%;
    -webkit-flex: 0 0 32.33333%;
    -ms-flex: 0 0 32.33333%;
    flex: 0 0 32.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-4 {
    height: 32.33333vw !important;
  }

  .rbq-offset-md-4 {
    margin-left: 33.83333% !important;
  }

  .rbq-fixed-md-4 {
    position: fixed;
    width: 32.33333%;
  }

  .rbq-cell-md-5, .rbq-dar-cell-md-5 {
    -webkit-box-flex: 0 0 40.66667%;
    -moz-box-flex: 0 0 40.66667%;
    -webkit-flex: 0 0 40.66667%;
    -ms-flex: 0 0 40.66667%;
    flex: 0 0 40.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-5 {
    height: 40.66667vw !important;
  }

  .rbq-offset-md-5 {
    margin-left: 42.16667% !important;
  }

  .rbq-fixed-md-5 {
    position: fixed;
    width: 40.66667%;
  }

  .rbq-cell-md-6, .rbq-dar-cell-md-6 {
    -webkit-box-flex: 0 0 49%;
    -moz-box-flex: 0 0 49%;
    -webkit-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-6 {
    height: 49vw !important;
  }

  .rbq-offset-md-6 {
    margin-left: 50.5% !important;
  }

  .rbq-fixed-md-6 {
    position: fixed;
    width: 49%;
  }

  .rbq-cell-md-7, .rbq-dar-cell-md-7 {
    -webkit-box-flex: 0 0 57.33333%;
    -moz-box-flex: 0 0 57.33333%;
    -webkit-flex: 0 0 57.33333%;
    -ms-flex: 0 0 57.33333%;
    flex: 0 0 57.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-7 {
    height: 57.33333vw !important;
  }

  .rbq-offset-md-7 {
    margin-left: 58.83333% !important;
  }

  .rbq-fixed-md-7 {
    position: fixed;
    width: 57.33333%;
  }

  .rbq-cell-md-8, .rbq-dar-cell-md-8 {
    -webkit-box-flex: 0 0 65.66667%;
    -moz-box-flex: 0 0 65.66667%;
    -webkit-flex: 0 0 65.66667%;
    -ms-flex: 0 0 65.66667%;
    flex: 0 0 65.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-8 {
    height: 65.66667vw !important;
  }

  .rbq-offset-md-8 {
    margin-left: 67.16667% !important;
  }

  .rbq-fixed-md-8 {
    position: fixed;
    width: 65.66667%;
  }

  .rbq-cell-md-9, .rbq-dar-cell-md-9 {
    -webkit-box-flex: 0 0 74%;
    -moz-box-flex: 0 0 74%;
    -webkit-flex: 0 0 74%;
    -ms-flex: 0 0 74%;
    flex: 0 0 74%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-9 {
    height: 74vw !important;
  }

  .rbq-offset-md-9 {
    margin-left: 75.5% !important;
  }

  .rbq-fixed-md-9 {
    position: fixed;
    width: 74%;
  }

  .rbq-cell-md-10, .rbq-dar-cell-md-10 {
    -webkit-box-flex: 0 0 82.33333%;
    -moz-box-flex: 0 0 82.33333%;
    -webkit-flex: 0 0 82.33333%;
    -ms-flex: 0 0 82.33333%;
    flex: 0 0 82.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-10 {
    height: 82.33333vw !important;
  }

  .rbq-offset-md-10 {
    margin-left: 83.83333% !important;
  }

  .rbq-fixed-md-10 {
    position: fixed;
    width: 82.33333%;
  }

  .rbq-cell-md-11, .rbq-dar-cell-md-11 {
    -webkit-box-flex: 0 0 90.66667%;
    -moz-box-flex: 0 0 90.66667%;
    -webkit-flex: 0 0 90.66667%;
    -ms-flex: 0 0 90.66667%;
    flex: 0 0 90.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-11 {
    height: 90.66667vw !important;
  }

  .rbq-offset-md-11 {
    margin-left: 92.16667% !important;
  }

  .rbq-fixed-md-11 {
    position: fixed;
    width: 90.66667%;
  }

  .rbq-cell-md-12, .rbq-dar-cell-md-12 {
    -webkit-box-flex: 0 0 99%;
    -moz-box-flex: 0 0 99%;
    -webkit-flex: 0 0 99%;
    -ms-flex: 0 0 99%;
    flex: 0 0 99%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-md-12 {
    height: 99vw !important;
  }

  .rbq-offset-md-12 {
    margin-left: 100.5% !important;
  }

  .rbq-fixed-md-12 {
    position: fixed;
    width: 99%;
  }

  /* ---- Allignment --- */
  .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .cell-top-md {
    align-self: flex-start;
  }

  .cell-middle-md {
    align-self: center;
  }

  .cell-bottom-md {
    align-self: flex-end;
  }

  /* ---- Distribution --- */
  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  /* ---- Order --- */
  .first-md {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
/* ---- Cell --- */
@media (min-width: 1200px) {
  .rbq-cell-lg, .rbq-dar-cell-lg {
    -webkit-box-flex: 1 0 0%;
    -moz-box-flex: 1 0 0%;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }
  .rbq-cell-lg .rbq-dar-cell-lg, .rbq-dar-cell-lg .rbq-dar-cell-lg {
    height: auto !important;
  }

  .rbq-dar-cell-lg {
    height: 7.33333vw !important;
  }

  .rbq-cell-lg-1, .rbq-dar-cell-lg-1 {
    -webkit-box-flex: 0 0 7.33333%;
    -moz-box-flex: 0 0 7.33333%;
    -webkit-flex: 0 0 7.33333%;
    -ms-flex: 0 0 7.33333%;
    flex: 0 0 7.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-1 {
    height: 7.33333vw !important;
  }

  .rbq-offset-lg-1 {
    margin-left: 8.83333% !important;
  }

  .rbq-fixed-lg-1 {
    position: fixed;
    width: 7.33333%;
  }

  .rbq-cell-lg-2, .rbq-dar-cell-lg-2 {
    -webkit-box-flex: 0 0 15.66667%;
    -moz-box-flex: 0 0 15.66667%;
    -webkit-flex: 0 0 15.66667%;
    -ms-flex: 0 0 15.66667%;
    flex: 0 0 15.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-2 {
    height: 15.66667vw !important;
  }

  .rbq-offset-lg-2 {
    margin-left: 17.16667% !important;
  }

  .rbq-fixed-lg-2 {
    position: fixed;
    width: 15.66667%;
  }

  .rbq-cell-lg-3, .rbq-dar-cell-lg-3 {
    -webkit-box-flex: 0 0 24%;
    -moz-box-flex: 0 0 24%;
    -webkit-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-3 {
    height: 24vw !important;
  }

  .rbq-offset-lg-3 {
    margin-left: 25.5% !important;
  }

  .rbq-fixed-lg-3 {
    position: fixed;
    width: 24%;
  }

  .rbq-cell-lg-4, .rbq-dar-cell-lg-4 {
    -webkit-box-flex: 0 0 32.33333%;
    -moz-box-flex: 0 0 32.33333%;
    -webkit-flex: 0 0 32.33333%;
    -ms-flex: 0 0 32.33333%;
    flex: 0 0 32.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-4 {
    height: 32.33333vw !important;
  }

  .rbq-offset-lg-4 {
    margin-left: 33.83333% !important;
  }

  .rbq-fixed-lg-4 {
    position: fixed;
    width: 32.33333%;
  }

  .rbq-cell-lg-5, .rbq-dar-cell-lg-5 {
    -webkit-box-flex: 0 0 40.66667%;
    -moz-box-flex: 0 0 40.66667%;
    -webkit-flex: 0 0 40.66667%;
    -ms-flex: 0 0 40.66667%;
    flex: 0 0 40.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-5 {
    height: 40.66667vw !important;
  }

  .rbq-offset-lg-5 {
    margin-left: 42.16667% !important;
  }

  .rbq-fixed-lg-5 {
    position: fixed;
    width: 40.66667%;
  }

  .rbq-cell-lg-6, .rbq-dar-cell-lg-6 {
    -webkit-box-flex: 0 0 49%;
    -moz-box-flex: 0 0 49%;
    -webkit-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-6 {
    height: 49vw !important;
  }

  .rbq-offset-lg-6 {
    margin-left: 50.5% !important;
  }

  .rbq-fixed-lg-6 {
    position: fixed;
    width: 49%;
  }

  .rbq-cell-lg-7, .rbq-dar-cell-lg-7 {
    -webkit-box-flex: 0 0 57.33333%;
    -moz-box-flex: 0 0 57.33333%;
    -webkit-flex: 0 0 57.33333%;
    -ms-flex: 0 0 57.33333%;
    flex: 0 0 57.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-7 {
    height: 57.33333vw !important;
  }

  .rbq-offset-lg-7 {
    margin-left: 58.83333% !important;
  }

  .rbq-fixed-lg-7 {
    position: fixed;
    width: 57.33333%;
  }

  .rbq-cell-lg-8, .rbq-dar-cell-lg-8 {
    -webkit-box-flex: 0 0 65.66667%;
    -moz-box-flex: 0 0 65.66667%;
    -webkit-flex: 0 0 65.66667%;
    -ms-flex: 0 0 65.66667%;
    flex: 0 0 65.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-8 {
    height: 65.66667vw !important;
  }

  .rbq-offset-lg-8 {
    margin-left: 67.16667% !important;
  }

  .rbq-fixed-lg-8 {
    position: fixed;
    width: 65.66667%;
  }

  .rbq-cell-lg-9, .rbq-dar-cell-lg-9 {
    -webkit-box-flex: 0 0 74%;
    -moz-box-flex: 0 0 74%;
    -webkit-flex: 0 0 74%;
    -ms-flex: 0 0 74%;
    flex: 0 0 74%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-9 {
    height: 74vw !important;
  }

  .rbq-offset-lg-9 {
    margin-left: 75.5% !important;
  }

  .rbq-fixed-lg-9 {
    position: fixed;
    width: 74%;
  }

  .rbq-cell-lg-10, .rbq-dar-cell-lg-10 {
    -webkit-box-flex: 0 0 82.33333%;
    -moz-box-flex: 0 0 82.33333%;
    -webkit-flex: 0 0 82.33333%;
    -ms-flex: 0 0 82.33333%;
    flex: 0 0 82.33333%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-10 {
    height: 82.33333vw !important;
  }

  .rbq-offset-lg-10 {
    margin-left: 83.83333% !important;
  }

  .rbq-fixed-lg-10 {
    position: fixed;
    width: 82.33333%;
  }

  .rbq-cell-lg-11, .rbq-dar-cell-lg-11 {
    -webkit-box-flex: 0 0 90.66667%;
    -moz-box-flex: 0 0 90.66667%;
    -webkit-flex: 0 0 90.66667%;
    -ms-flex: 0 0 90.66667%;
    flex: 0 0 90.66667%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-11 {
    height: 90.66667vw !important;
  }

  .rbq-offset-lg-11 {
    margin-left: 92.16667% !important;
  }

  .rbq-fixed-lg-11 {
    position: fixed;
    width: 90.66667%;
  }

  .rbq-cell-lg-12, .rbq-dar-cell-lg-12 {
    -webkit-box-flex: 0 0 99%;
    -moz-box-flex: 0 0 99%;
    -webkit-flex: 0 0 99%;
    -ms-flex: 0 0 99%;
    flex: 0 0 99%;
    border: 0px solid black;
    padding: 0.75%;
    margin: 0.25% 0.5%;
    overflow: auto;
  }

  .rbq-dar-cell-lg-12 {
    height: 99vw !important;
  }

  .rbq-offset-lg-12 {
    margin-left: 100.5% !important;
  }

  .rbq-fixed-lg-12 {
    position: fixed;
    width: 99%;
  }

  /* ---- Allignment --- */
  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .cell-top-lg {
    align-self: flex-start;
  }

  .cell-middle-lg {
    align-self: center;
  }

  .cell-bottom-lg {
    align-self: flex-end;
  }

  /* ---- Distribution --- */
  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  /* ---- Order --- */
  .first-lg {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
/* ---- Visibility --- */
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/*
 * Colors
 */
/*
 * XS lay-out
 */
/* Medium devices (desktops, 992px and up) */
/* Medium devices (small desktops, 768px and up) */
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=rbq-grid.css.map */
