// Vendor prefixes for browser-proof flexbox behaviour

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($val) {
    -webkit-flex-direction: $val; /* Safari 6.1+ */
    -moz-flex-direction: $val;
    flex-direction: $val;
}

@mixin flex-wrap($val) {
    -webkit-flex-wrap: $val; /* Safari 6.1+ */
    -moz-flex-wrap: $val;
    flex-wrap: $val;
}

@mixin flex-flow($values) {
    -webkit-flex-flow: $values; /* Safari 6.1+ */
    -moz-flex-flow: $values;
    flex-flow: $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flex-basis($val) {
  -ms-flex-preferred-size: $val;
  -webkit-flex-basis: $val;
  flex-basis: $val;
}

@mixin justify-content($val) {
  -webkit-justify-content: flex-$val;
  -ms-flex-pack: $val;
  -webkit-box-pack: $val;
  justify-content: flex-$val;
}

@mixin align-items($val) {
  -webkit-align-items: flex-$val;
  -ms-flex-align: $val;
  -webkit-box-align: $val;
  align-items: flex-$val;
}

@mixin box_sizing($val) {
    html {
      -webkit-box-sizing: $val;
      -moz-box-sizing: $val;
      box-sizing: $val;
    }
    *, *::before, *::after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }
}

@mixin width-content($val) {
  width: -webkit-#{$val}-content;
  width: -moz-#{$val}-content;
  width: #{$val}-content;
}
