/* SCSS Document */
/*
 * Vendor prefixes
 */
/*
 * Globals
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
 * Tipography
 */
@font-face {
  font-family: 'adam.cg_proregular';
  src: url("fonts/adam.cg_pro-webfont.eot");
  src: url("fonts/adam.cg_pro-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/adam.cg_pro-webfont.woff2") format("woff2"), url("fonts/adam.cg_pro-webfont.woff") format("woff"), url("fonts/adam.cg_pro-webfont.ttf") format("truetype"), url("fonts/adam.cg_pro-webfont.svg#adam.cg_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'denseregular';
  src: url("fonts/dense-regular-webfont.eot");
  src: url("fonts/dense-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/dense-regular-webfont.woff2") format("woff2"), url("fonts/dense-regular-webfont.woff") format("woff"), url("fonts/dense-regular-webfont.ttf") format("truetype"), url("fonts/dense-regular-webfont.svg#denseregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "denseregular", Arial, sans-serif;
  font-size: 17px;
  line-height: 1;
  color: #000;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "adam.cg_proregular", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #000;
}
h1 small, h1.small, h2 small, h2.small, h3 small, h3.small, h4 small, h4.small, h5 small, h5.small, h6 small, h6.small {
  font-weight: normal;
  line-height: 1;
  color: #000;
}

h1, h2, h3 {
  margin-top: 17px;
  margin-bottom: 8.5px;
}
h1 small, h1.small, h2 small, h2.small, h3 small, h3.small {
  font-size: 65%;
}
h1 large, h1.large, h2 large, h2.large, h3 large, h3.large {
  font-size: 155%;
}

h4, h5, h6 {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
h4 small, h4.small, h5 small, h5.small, h6 small, h6.small {
  font-size: 75%;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 29px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

p {
  margin: 0 0 8.5px;
  font-size: 17px;
}
p.lead {
  margin-bottom: 17px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1;
}
@media (min-width: 768px) {
  p.lead {
    font-size: 25.5px;
  }
}
p small, p.small {
  font-size: 88%;
}
p large, p.large {
  font-size: 155%;
}
p huge, p.huge {
  font-size: 258%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/*
 * Styles for navigation
 * LoVE? Ha!
 */
/*
 * Colors
 */
.inverse-color {
  color: white;
}

.white-background {
  background-color: white !important;
}

.theme-color-1 {
  color: #ebdbce !important;
}

.theme-color-2 {
  color: #eccf97 !important;
}

.theme-color-3 {
  color: #ed9354 !important;
}

.theme-color-4 {
  color: #bc6337 !important;
}

.theme-color-5 {
  color: #473930 !important;
}

.theme-color-6 {
  color: #766055 !important;
}

.theme-background-color-1 {
  background-color: #ebdbce !important;
}

.theme-background-color-2 {
  background-color: #eccf97 !important;
}

.theme-background-color-3 {
  background-color: #ed9354 !important;
}

.theme-background-color-4 {
  background-color: #bc6337 !important;
}

.theme-background-color-5 {
  background-color: #473930 !important;
}

.theme-background-color-6 {
  background-color: #766055 !important;
}

/*
 * Splash
 */
/*
 * Cover
 */
/*
 * Responsive images
 */
img[class^='rbq-responsive'] {
  height: auto;
}

img.rbq-responsive-50perc {
  width: 50%;
}

img.rbq-responsive-80perc {
  width: 80%;
}

img.rbq-responsive-100perc {
  width: 100%;
}

/*
 * Embedded video made responsive
 */
/*
 * XS lay-out
 */
.square {
  padding-bottom: 100%;
  position: relative;
}

div[class^='rbq-flex-container'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* Safari 6.1+ */
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

div[class^='rbq-flex-item'] {
  width: 50%;
  padding: 10px;
}

div[class^='rbq-flex-item-square']::before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.flex-center-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* Safari 6.1+ */
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: no-wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  /* Safari 6.1+ */
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: no-wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
}

#welcome {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* Safari 6.1+ */
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
#welcome p {
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
#welcome button {
  -webkit-box-flex: 0 0 45%;
  -moz-box-flex: 0 0 45%;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
}

#bio {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* Safari 6.1+ */
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#bio p {
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.rbq-sub-flex-container {
  padding: 0px !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* Safari 6.1+ */
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rbq-sub-flex-container div.rbq-sub-flex-item {
  width: 50%;
}

#maureen {
  background-image: url(photo/Mourin_9999_161.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.rbq-background-photo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.rbq-background-photo-vertical {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

div[class$='1'] div[class^='rbq-flex-item']:nth-child(1) {
  background-color: #ebdbce;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(2) {
  background-color: #eccf97;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(3) {
  background-color: #ed9354;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(4) {
  background-color: #bc6337;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(5) {
  background-color: #473930;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(6) {
  background-color: #766055;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(7) {
  background-color: #ebdbce;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(8) {
  background-color: #eccf97;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(9) {
  background-color: #bc6337;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(10) {
  background-color: #ed9354;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(11) {
  background-color: #766055;
}
div[class$='1'] div[class^='rbq-flex-item']:nth-child(12) {
  background-color: #473930;
}

div[class$='3'] div[class^='rbq-flex-item']:nth-child(1) {
  background-color: #473930;
}
div[class$='3'] div[class^='rbq-flex-item']:nth-child(2) {
  background-color: #766055;
}
div[class$='3'] div[class^='rbq-flex-item']:nth-child(3) {
  background-color: #bc6337;
}
div[class$='3'] div[class^='rbq-flex-item']:nth-child(4) {
  background-color: #ed9354;
}
div[class$='3'] div[class^='rbq-flex-item']:nth-child(5) {
  background-color: #ebdbce;
}
div[class$='3'] div[class^='rbq-flex-item']:nth-child(6) {
  background-color: #eccf97;
}

/*
 * Icons
 */
.fa-stack {
  margin: 8.5px;
}

/*
 * Forms
 */
.rbq-form-control {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 22px;
  line-height: 1;
  color: white;
  background-color: inherit;
  background-image: none;
  border: 3px solid #000;
  border-radius: 0;
  font-family: "denseregular", Arial, sans-serif;
}
.rbq-form-control:focus {
  border-color: white;
  outline: 0;
}
.rbq-form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.rbq-form-control:-ms-input-placeholder {
  color: #000;
}
.rbq-form-control::-webkit-input-placeholder {
  color: #000;
}
textarea .rbq-form-control {
  height: auto;
}

/*
 * Buttons
 */
.rbq-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 17px;
  line-height: 1;
  border-radius: 4px;
  background-color: #000;
  color: white;
  margin-top: 6px;
}
.rbq-button:hover, .rbq-button:focus, .rbq-button.focus {
  background-color: white;
  text-decoration: none;
}
.rbq-button:active, .rbq-button.active {
  outline: 0;
  background-image: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.33333;
  border-radius: 10px;
}

/*.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}*/
.rbq-btn-block {
  display: block;
  width: 100%;
}

/*
 * Spacing
 */
@media (max-device-width: 768px) and (orientation: landscape) {
  div[class^='rbq-flex-item'] {
    width: 33.33333%;
    padding: 10px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  div[class^='rbq-flex-item'] {
    width: 33.33333%;
    padding: 10px;
  }
}
/* Medium devices (small desktops, 768px and up) */
@media (min-width: 992px) {
  div[class^='rbq-flex-item'] {
    width: 25%;
    padding: 10px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*    div[class^='rbq-flex-container'] {
          @include flex-direction(column);
          @include flex-wrap(wrap);
          justify-content: flex-start;
          align-items: stretch;
          align-content: flex-start;
          //width: 100%;
          height: 100vh;
          //background-color: rgba(204,0,153,.25);
      }*/
  div[class^='rbq-flex-item'] {
    width: 16.66667%;
    padding: 10px;
  }
}
/*
 * Styles for debugging bootstrap's columns
 */
/*[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}*/

/*# sourceMappingURL=style.css.map */
