// ___________________________________
//
// Colors
// ___________________________________

$theme-colors: ( $theme_color_1,
                $theme_color_2,
                $theme_color_3,
                $theme_color_4,
                $theme_color_5,
                //$theme_color_6,
                );

$i: 1;
$list-length: length($theme-colors);
@each $theme-color in $theme-colors {
  .theme-color-#{$i} {
    color: $theme-color !important;
  }
  .theme-background-color-#{$i} {
    background-color: $theme-color !important;
  }
  $i: ( $i + 1 );
}

body {
  color: $text-color;
  background-color: $body-bg;
}

.white-background {
    background-color: white !important;
}
