// ___________________________________
//
// Typography
// ___________________________________


/* ---- Google fonts ---- */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,200,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

/* ---- Reset ---- */

html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, blockquote,
dl, dt, dd, pre, code, img	{
	margin: 0;
	padding: 0;
}


/* ---- General ---- */

// TODO: colors might be set in other scss page

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  font-style: normal;
  font-weight: 400;
}

/* ---- Headings ---- */

h1, h2, h3, h4, h5, h6 {
  font-family:  $headings-font-family;
  font-weight:  $headings-font-weight;
  line-height:  $headings-line-height;
  color:        $headings-color;
}

h1, h2, h3, {
  margin-top: ($headings-line-height / 2);
  margin-bottom: ($headings-line-height / 2);

  small,
  &.small {
    font-size: 65%;
  }
}
h4, h5, h6, {
  margin-top: ($headings-line-height / 2);
  margin-bottom: ($headings-line-height / 2);

  small,
  &.small {
    font-size: 75%;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }


/* ---- Paragraph ---- */

p {
    margin: 0 0 ($line-height-base / 2);
    font-size: $font-size-base;

    &.lead {
      margin-bottom: $line-height-base;
      font-size: floor(($font-size-base * 1.25));
      line-height: floor(($line-height-base * 1.25));

      @media (min-width: $screen-sm) {
        font-size: ($font-size-base * 1.5);
      }
    }

    small,
    &.small {
        font-size: floor((100% * $font-size-small / $font-size-base));
    }

}


/* ---- Text alignment ---- */

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
