// ___________________________________
//
// Variables
// ___________________________________


/* ---- Colors ---- */

// -- Theme colors

$theme_color_1: #ffffff;
$theme_color_2: #ededec;
$theme_color_3: #E8E8E8;
$theme_color_4: #212222;
$theme_color_5: #000000;

// -- General typo colors

$typo-color-base:         $theme_color_4;
$typo-color-base:         white;
$typo-color-alternative:  $theme_color_5;
$typo-color-alternative:  white;

// -- General colors

// Background color for `<body>`
$body-bg:                 $theme_color_1;
$body-bg:                 white;
// Global text color on `<body>`
$text-color:              $typo-color-base;

// Global textual link color
$link-color:              $theme_color_3;
// Link hover color set via `darken()` function.
$link-hover-color:        $theme_color_5;
// Link hover decoration.
$link-hover-decoration: none;


/* ---- Typo ---- */
/* - 14px body text with 20px of leading (and vertical measure) */

// Fonts
$font-stack-header:             'Raleway', Helvetica, sans-serif;
$font-stack-header:             'Futura-Book', sans-serif;
$font-stack-paragraph:          'Merriweather', Georgia, serif;
$font-family-base:              $font-stack-paragraph;
$headings-font-family:          $font-stack-header;

// Sizes
// TODO: think about one size and line height:
//        dependant and independant variables

$font-size-base:                14px; // 1rem
$font-size-large:               1.25rem; // ceil(($font-size-base * 1.25));
$font-size-small:               ceil(($font-size-base * 0.85));

$font-size-h1:                  floor(($font-size-base * 2.6));
$font-size-h2:                  floor(($font-size-base * 2.15));
$font-size-h3:                  ceil(($font-size-base * 1.7));
$font-size-h4:                  ceil(($font-size-base * 1.25));
$font-size-h5:                  1rem;// floor(($font-size-base * 1.0));
$font-size-h6:                  ceil(($font-size-base * 0.85));

// line-height: 20px height wrt to 14px font size
$line-height-base:              1.428571429em; // 20/14

// line-height-adim: 20px height wrt to 14px font size
//$line-height-adim: 1.428571429; // 20/14

// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
//$line-height-computed:          floor(($font-size-base * $line-height-adim)); // ~20px

// Headings
$headings-font-weight:          400;
$headings-line-height:          2em;
$headings-color:                $typo-color-alternative;
$headings-small-color:          $theme_color_5;

/* ---- Spacing ---- */

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        4px;
$border-radius-large:       10px;
$border-radius-small:       3px;


/* ---- Media queries breakpoints ---- */

// Extra small screen / phone
$screen-xs:                  480px;

// Small screen / tablet
$screen-sm:                  768px;

// Medium screen / desktop
$screen-md:                  992px;

// Large screen / wide desktop
$screen-lg:                  1200px;

//
// Container sizes
//
