<div class="starter-template">
    <h1>Waldorf Astoria Project</h1>
    <p class="lead">This is the main page of the physical model.<br> The present is yours but the future is ours</p>
    <p id="anchor_for_js"></p>

    <div class="form-group">
        <label>Target Speed (Km/h):</label>
        <input type="text" ng-model="targetSpeed" class="form-control">
    </div>
    <div class="form-group">
        <label>Change Gear (RPM):</label>
        <input type="text" ng-model="changeGear" class="form-control">
    </div>

    <button type="button" ng-click="execute()">
        Click me to calculate engine's power.
    </button>
    <hr ng-show="result"/>
    <h1  ng-show="result"> The car takes {{result.result}} seconds to reach {{result.speed}} km/h</h1>
    <hr />
    <p ng-show="!states.length" >Press execute to get the table</p>
    <table ng-show="states.length" class="table table-striped">
        <thead>
        <tr>
            <th>RPM</th>
            <th>Gear</th>
            <th>Wheel slipping</th>
            <th>Thrust</th>
            <th>Max Friction</th>
            <th>Acceleration</th>
        </tr>
        </thead>
        <tr ng-repeat="car in states">
            <td>{{car.engine.n}}</td>
            <td>{{car.gear_box.gear+1}}</td>
            <td>{{car.wheel.isSlipping}}</td>
            <td>{{car.thrust}}</td>
            <td>{{car.max_friction_force}}</td>
            <td>{{car.acceleration}}</td>

        </tr>

    </table>


</div>