// ___________________________________
//
// Colors
// ___________________________________

$debug-colors: ( $debug_color_1,
                $debug_color_2,
                $debug_color_3,
                $debug_color_4,
                $debug_color_5,
                $debug_color_6,
                );

$theme-colors: ( $theme_color_1,
                 $theme_color_2,
                 $theme_color_3,
                 $theme_color_4,
                 $theme_color_5,
                 $theme_color_6,
               );

               $theme-colors: ( $debug_color_1,
                               $debug_color_2,
                               $debug_color_3,
                               $debug_color_4,
                               $debug_color_5,
                               $debug_color_6,
                               );

@if $debug {
  $i: 1;
  $list-length: length($theme_colors);
  @each $theme_color in $theme_colors {
    div[class*='rbq-cell']:nth-child( #{$list-length}n+#{$i} ) {
      background-color: $theme_color;
    }
    div[class*='rbq-dar-cell']:nth-child( #{$list-length}n+#{$i} ) {
      background-color: $theme_color;
    }
    $i: ( $i + 1 );
  }
}


// div[class*='rbq-cell'] {
//   background-color: $debug_color_3;
// }
// div[class*='rbq-dar-cell'] {
//   background-color: $theme_color_3;
// }

$i: 1;
$list-length: length($debug_colors);
@each $debug_color in $debug_colors {
  .debug_color-#{$i} {
    color: $debug_color !important;
  }
  .debug-background-color-#{$i} {
    background-color: $debug_color !important;
  }
  $i: ( $i + 1 );
}
