// ___________________________________
//
// Variables
// ___________________________________


// -- Debug colors

$debug: false;

$debug_color_1: rgba(202,237,215,.3); // #caedd7;
$debug_color_2: rgba(158,217,194,.3); // #9ed9c2;
$debug_color_3: rgba(156,125, 87,.3); // #9c7d57;
$debug_color_4: rgba(222, 58, 17,.3); // #de3a11;
$debug_color_5: rgba(232,103, 75,.3); // #e8674b;
$debug_color_6: rgba(237,202,145,.3); // #edca91;

//
// Theme colors
//

$theme_color_1: rgba(255, 255, 255, .5); // #ffffff;
$theme_color_2: rgba(237, 237, 236, .5); // #ededec;
$theme_color_3: rgba(232, 232, 232, .5); // #E8E8E8;
$theme_color_4: rgba(33,   34,  34, .5); // #212222;
$theme_color_5: rgba(  0,   0,   0, .5); // #000000;
$theme_color_6: rgba(151, 150, 151, .5); // #979697;


//
// General typo colors
//

$gray-base:              #000; // black
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

//
// General colors
//


//
// Typo
//


//
// Components
//

//
// Forms
//

//
// Buttons
//

//
// Media queries breakpoints
//

// Extra small screen / phone
$screen-xs:                  480px;

// Small screen / tablet
$screen-sm:                  768px;

// Medium screen / desktop
$screen-md:                  992px;

// Large screen / wide desktop
$screen-lg:                  1200px;

//
// Container sizes
//
