@charset "UTF-8";
/* SCSS Document */

/*
 * Vendor prefixes
 */

@import 'prefixes';

/*
 * Globals
 */

// Reset the box-sizing
@import 'variables';
//@import 'globals';


/*
 * Tipography
 */

@import 'webfonts';
//@import 'typography';


/*
 * Styles for navigation
 * LoVE? Ha!
 */

/*
 * Colors
 */

@import 'colors';

/*
 * Splash
 */

/*
 * Cover
 */

/*
 * Responsive images
 */

/*
 * Embedded video made responsive
 */

/*
 * XS lay-out
 */


/*
 * Icons
 */

//.fa-stack {
//    margin: ($line-height-computed / 2);
//}


/*
 * Forms
 */

//@import 'forms';

/*
 * Buttons
 */

//@import 'buttons';

/*
 * Spacing
 */

/*
 * Miscela
 */
.rbq-line-height {
  line-height: 1.15;
}
.rbq-opaque {
  opacity: 0;
  //padding-top: 0.5%;
}
.rbq-fixed {
  position: fixed;
}
.rbq-background-menu {
  background-color: rgba(255,255,255,.85);
  z-index: 1000 !important;
}
.rbq-z-index-zero {
  z-index: 0;
}
.rbq-z-index-thousand {
  z-index: 1000;
}

#group1 {
  z-index: 2; /* slide under group 3 and 5 */
}
#group1 .rbq-parallax_layer-1 {
  background-image: url('artwork/bg_triptico.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#group1 .rbq-array {
  height:100vh;
}

/* Debugger styles - used to show the effect
--------------------------------------------- */

.debug {
  position: fixed;
  top: 0;
  left: .5em;
  z-index: 9999;
  background: rgba(0,0,0,.85);
  color: #fff;
  padding: .5em;
  border-radius: 0 0 5px 5px;
}
.debug-on .rbq-parallax_group {
  -webkit-transform: translate3d(0px, 0, -400px) rotateY(50deg);
  transform: translate3d(-0px, 0, -400px) rotateY(50deg);
}
.debug-on .rbq-parallax_layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}
.rbq-parallax_group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}


// Devices
@media (max-device-width: $screen-sm) and (orientation: landscape) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-sm) {
}

/* Medium devices (small desktops, 768px and up) */
@media (min-width: $screen-md) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}

/*
 * Styles for debugging bootstrap's columns
 */

/*[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}*/
